/*
To ... change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20/06/2020, 01:52:37
    Author     : Andre
*/
.root {
    -fx-spacing: 30;
    -fx-background-color:#FFFFFF;
    -fx-padding: 10;
}

/*================ LABEL ============================================*/

.label{
    -fx-font-family:"Arial";
    -fx-font-size: 15px;
    -fx-font-color:#181853;
    /*-fx-font-weight: bold;*/
}


/*================ BUTTON ===========================================*/
.button {
    -fx-font-family: "Arial";
    -fx-font-size: 13px;	
    -fx-background-color: #181853;
    -fx-text-fill: #FFFFFF;
    /*-fx-font-weight: bold;*/
    /*	-fx-background-color: linear-gradient(#F5F6F7, #3699E8);*/

}

.button:hover {
    -fx-background-color:#4949CE;
    -fx-text-fill: #181853;
}

/*================ TextField ========================================*/
.text-input{
    background: #3CBC8D;
    border-color: white;
}

.text-input:focus{
    background: lightblue;
    border-color: red;
}

/*================ TEBLE VIEW =======================================*/
.table-view{
    -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .filler {
    -fx-border-insets: 10 
}

.table-view .column-header-background{
    -fx-background-color: #181853;
    /*-fx-background-color: linear-gradient(#131313 0%, #424141 100%);*/
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #FFFFFF;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-font-size: 10px;
}

.table-view .table-cell{
    -fx-text-fill: #181853;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #FFFFFF;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #E7E7E8;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
}

.table-row-cell:selected {
    -fx-background-color: #9C9CE2;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view .show-hide-columns-button {
    -fx-background-color: red;
    -fx-border-color: -fx-box-border;
    -fx-border-insets: -1 -1 0 0;
}
.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
     -fx-opacity: 0;
}
